<div class="card p-3" style="border: none; padding-left: 0px; margin-left: 0px;">
    <div class="row ">
        <div class="col-md-5 ">
            <img [src]="guerrero.img " class="card-img " width="100px">
        </div>
        <div class="col-md-7 ">
            <div class="card-body ">
                <h5 class="card-title ">{{guerrero.nombre}}</h5>
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text "><small class="text-muted ">{{guerrero.frase}}</small></p>
            </div>
        </div>
    </div>
</div>